h1 {
    color:#006633;
    font-size: 38px;    
}

li {
    color: #cc3333;
    font-size: 14px;
}

table {
    margin: auto;
    margin-top: 15%;
    border-collapse: collapse;
}

#number {
    font-size: 48pt;
}
