h1 {
    color:#006633;
    font-size: 38px;    
}

li {
    color: #cc3333;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    border: solid 2px orange;
}

table td {
    border: dashed 1px orange;
}

.cell-open {
    opacity: 1;
}

.cell-close {
    opacity: 0;
}
